#smallnavi {
  display:none;

}

#tabletNav {
    display:none;
}


#graphiccontainer {

}

#graphicbtn {

}


#graphicbtn {
  background-color: lightblue;
  font-size: 24px;
  font-family: 'newfont'
}

#graphiccontainer button.hover{
  background-color: pink;
}

h3 {
  border-style: solid;
  border-color: lightblue;
  border-radius: 15%;
  width:33%;
  margin-left: 33%;
  background-color: lightblue;
}
